.main {
    // background-color: red;
    padding: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.button {
    flex: 0 0 auto;
    margin-top: 20px;
    height: 100px;
    width: 100px;
}