.main {
    // background-color: red;
    padding: 20px;
}


.top {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .button {
        height: 80px;
        width: 80px;
    }
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;

    .button {
        height: 100px;
        width: 100px;
        justify-self: center;
        align-self: center;
    }
}